@model SendMeLittleFun.WebApp.Models.User;

@{
    ViewData["Title"] = "Request an email with little fun right here";

        List<SelectListItem> CronCommands = new() {
        new SelectListItem("В 10:15am каждый день", "0 15 10 * * ? *"),
        new SelectListItem("В 10:15am каждый день с Понедельника по Пятницу", "0 15 10 ? * MON-FRI"),
        new SelectListItem("Никогда не присылать", "-")
    };

}

<h1 class="display-5">
    Привет! Меня зовут Сергей, <br /> 
    я буду отправлять тебе немного литтлфана на email. <br /> 
    Каждый. Божий. День.
</h1> <br /> <br />

<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

@*             <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>  *@
            <br />
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <select asp-for="Schedule" asp-items="CronCommands"></select>
            </div>
            <br /> <br />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
            <br />
            <b>@ViewBag.message</b>
        </form>
    </div>
</div>



@section Scripts {
   @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
